#.gitignore
# Created Mon Nov 19 09:22:31 AKDT 2018
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore
#
.gitignore
00BACKUPS/
00TODO/
adt/
apps/
asea/
backup/
benefits/
books/
bicycling/
business/
cli/
convert/
database/
debt/
dev/
dnr/
fanless/
finance/
find/
git/
gnu/
graphics/
hardware/
jobs/
hosts/
lang/
libreoffice/
linode/
net/
office/
orders/
outlook/
os/
ocr/
projects/
property/
purchases/
putty/
quotes/
resync/
resume/
retirement/
revision-control/
rmarcil/
security/
sed/
space/
spreadsheets/
storage/
tex/
travel/
unemployment/
utils/
virtualization/
vpn/
x11/
xfce/
