#.gitignore
# Created Mon Nov 19 09:22:31 AKDT 2018
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore
#
.gitignore
00BACKUPS/
00TODO/
adt/
ant
apache/
apache2/
apps/
asea/
atomics/
backup/
benefits/
books/
bicycling/
business/
cli/
compass/
convert/
daewoo/
databases/
debian/
debt/
dev/
dewalt/
dnr/
fanless/
finance/
find/
git/
gnu/
graphics/
hardware/
httpd/
jobs/
home-power/
hosts/
lang/
libreoffice/
linode/
media/
mortgage/
net/
office/
omigo/
oracle/
orders/
outlook/
os/
ocr/
parted/
projects/
property/
purchases/
putty/
quotes/
raspberry-pi-4-model-b/
resync/
resume/
retirement/
revision-control/
rmarcil/
security/
sed/
space/
spreadsheets/
storage/
subscriptions/
tex/
tex-template/
tomcat/
trading/
travel/
unemployment/
utils/
virtualization/
vmware/
voicemail/
vpn/
workstation/
x11/
xfce/
