#.gitignore
# Created Mon November 19, 2018
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore.
#
.gitignore
00BACKUPS/
00TODO/
adt/
apps/
backup/
books/
bicycling/
business/
convert/
database/
dev/
dnr/
fanless/
find/
git/
gnu/
hardware/
jobs/
hosts/
lang/
office/
outlook/
os/
net/
ocr/
projects/
purchases/
putty/
quotes/
resync/
retirement/
revision-control/
rmarcil/
security/
sed/
tex/
travel/
utils/
virtualization/
vpn/
x11/
